# spaCy data
corpus
training
packages
/assets
project.lock

# Python
__pycache__/

# DS Store
.DS_Store

.idea
.vscode

.venv

# C extensions
*.so
*.dylib
*.cpp

# Distribution / packaging
setup.py
poetry.lock
init
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Docs
docs/changelog.md
docs/contributing.md
docs/roadmap.md
docs/reference

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/

# IPython Notebook
.ipynb_checkpoints
*.ipynb

# Data
*.csv
*.xls
*.xlsx
*.pkl
*.jpg
*.png
*.html
*.pickle
*.joblib
*.pdf
data/**/*.jsonl

# MkDocs output
site/

# DVC
.dvc/tmp
.dvc/cache
