site_name: EDS-Pseudo

repo_url: https://github.com/aphp/eds-pseudo
# repo_name: algorithms/pseudonymisation

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  logo: assets/logo/eds-pseudo-white.svg
  favicon: assets/logo/eds-pseudo-blue.svg
  features:
    - navigation.tracking
    - navigation.instant
    - content.code.annotate

nav:
  - index.md
  - quickstart.md
  - reproducibility.md
  - dataset.md
  - results.md
  - changelog.md

extra:
  version:
    provider: mike

extra_css:
  - assets/stylesheets/extra.css
  - assets/termynal/termynal.css

extra_javascript:
  - https://cdn.jsdelivr.net/npm/vega@5
  - https://cdn.jsdelivr.net/npm/vega-lite@5
  - https://cdn.jsdelivr.net/npm/vega-embed@6
  - assets/termynal/termynal.js

plugins:
  - search
  - charts:
      use_data_path: false
  - bibtex:
      bib_file: "docs/references.bib"
  - gen-files:
      scripts:
        - docs/scripts/generate_development.py
  - mike

watch:
  - changelog.md

markdown_extensions:
  - admonition
  - pymdownx.superfences:
      custom_fences:
        - name: vegalite
          class: vegalite
          format: !!python/name:mkdocs_charts_plugin.fences.fence_vegalite
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - md_in_html
  - attr_list
  - pymdownx.details
  - pymdownx.snippets
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
