[tool.poetry]
name = "eds-pseudonymisation"
version = "0.2.0"
description = ""
authors = ["Basile Dura <basile.dura-ext@aphp.fr>", "Perceval Wajsburt <perceval.wajsburt-ext@aphp.fr>", "Alice Calliger <alice.calliger@aphp.fr>"]
include = ["eds_pseudonymisation/resources/*.csv.gz"]

[tool.poetry.plugins."spacy_factories"]
"structured-data-matcher" = "eds_pseudonymisation.pipelines.structured:StructuredDataMatcher"
"pseudonymisation-rules" = "eds_pseudonymisation.pipelines.pseudonymisation:Pseudonymisation"
"pseudonymisation-dates" = "eds_pseudonymisation.pipelines.dates.factory:create_component"
"clean-entities" = "eds_pseudonymisation.pipelines.clean_entities:CleanEntities"

[tool.poetry.plugins."spacy_readers"]
"eds-pseudonymisation.Corpus.v1" = "eds_pseudonymisation.corpus_reader:create_docbin_reader"

[tool.poetry.plugins."spacy_cli"]
"evaluate-pseudo" = "eds_pseudonymisation.evaluate:evaluate_cli"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.11"
spacy = "^3.2.4"
spacy-transformers = "^1.1.5"
thinc = "^8.0.13"
edsnlp = "^0.7.2"
sentencepiece = "^0.1.96"
cupy = {version = "^11.0.0", optional = true}
cupy-cuda80 = {version = "^7.8.0", optional = true}
cupy-cuda90 = {version = "^8.6.0", optional = true}
cupy-cuda91 = {version = "^7.8.0", optional = true}
cupy-cuda92 = {version = "^8.6.0", optional = true}
cupy-cuda100 = {version = "^9.6.0", optional = true}
cupy-cuda101 = {version = "^9.6.0", optional = true}
cupy-cuda102 = {version = "^11.0.0", optional = true}
cupy-cuda110 = {version = "^11.0.0", optional = true}
cupy-cuda111 = {version = "^10.6.0", optional = true}
cupy-cuda112 = {version = "^10.6.0", optional = true}
cupy-cuda113 = {version = "^10.6.0", optional = true}
cupy-cuda114 = {version = "^10.6.0", optional = true}
cupy-cuda115 = {version = "^10.6.0", optional = true}
cupy-cuda116 = {version = "^10.6.0", optional = true}
cupy-cuda117 = {version = "^10.6.0", optional = true}
thinc-apple-ops = {version = "^0.1.0", optional = true}
torch = "<1.13"

[tool.poetry.group.dev.dependencies]
dvc = {version = "^2.37.0", markers="python_version >= '3.8'"}
loguru = "^0.6.0"
typer = "^0.4.1"
ray = {extras = ["serve"], version = "^1.11.0"}
pandas = "^1.3.0"
pyarrow = "^7.0.0"
fsspec = "^2022.3.0"
fastapi = "^0.75.1"
# dvclive = "^0.10.0"

black = "^22.3.0"
flake8 = "^4.0.1"
jupytext = "^1.13.8"
pre-commit = "^2.18.1"
pytest = "^7.1.1"
pytest-cov = "^3.0.0"
mypy = "^0.950"

# [tool.poetry.group.docs]
# optional = true
#
# [tool.poetry.group.docs.dependencies]
# mike = "^1.1.2"
# mkdocs-bibtex = "^2.0.3"
# mkdocs-charts-plugin = "^0.0.8"
# mkdocs-gen-files = "^0.3.4"
# mkdocs-literate-nav = "^0.4.1"
# mkdocs-material = "^8.2.8"
# mkdocs-section-index = "^0.3.4"
# mkdocstrings = "^0.18.1"
# mkdocstrings-python = "^0.6.6"
datasets = "^2.4.0"

[tool.poetry.extras]
cuda = ["cupy"]
cuda80 = ["cupy-cuda80"]
cuda90 = ["cupy-cuda90"]
cuda91 = ["cupy-cuda91"]
cuda92 = ["cupy-cuda92"]
cuda100 = ["cupy-cuda100"]
cuda101 = ["cupy-cuda101"]
cuda102 = ["cupy-cuda102"]
cuda110 = ["cupy-cuda110"]
cuda111 = ["cupy-cuda111"]
cuda112 = ["cupy-cuda112"]
cuda113 = ["cupy-cuda113"]
cuda114 = ["cupy-cuda114"]
cuda115 = ["cupy-cuda115"]
cuda116 = ["cupy-cuda116"]
cuda117 = ["cupy-cuda117"]
apple = ["thinc-apple-ops"]

[tool.poetry.group.spark]
optional = true

[tool.poetry.group.spark.dependencies]
pyspark = "2.4.3"

[tool.interrogate]
ignore-init-method = true
ignore-init-module = true
ignore-magic = false
ignore-semiprivate = false
ignore-private = false
ignore-property-decorators = false
ignore-module = true
ignore-nested-functions = false
ignore-nested-classes = true
ignore-setters = false
fail-under = 10
exclude = ["docs", "build", "tests"]
verbose = 0
quiet = false
whitelist-regex = []
color = true
omit-covered-files = false

[tool.pytest.ini_options]
testpaths = [
    "tests",
]

[tool.mypy]
plugins = "pydantic.mypy"

[build-system]
requires = ["poetry-core>=1.0.0", "pypandoc<1.8.0"]
build-backend = "poetry.core.masonry.api"
